*{
  margin: 1;
  padding: 0;
}

/* Este body abarca el cuerpo completo de la pagina */
body{
  font-family: 'Times New Roman', sans-serif;
}

/*Este es el menu completo*/
#menu {
  padding: 0;
  background: #fff;
  text-align: center;

}

/*Esto es para alinear el menu en horizontal*/
#menu li{
  display: inline-block;
}

/*Esto es para la personalizacion de los links*/
#menu li a{
  font-family: Arial;
  font-size: 18px;
  text-decoration: none;
  float: left;
  padding: 15px;
  background color: #fff;
  color: #000;
}

/*Posicion del menu*/
#menu li a{
  position: relative;
  float: left;
  margin: 0;
  padding: 1;
  left: 20%;
}

/*Efecto de colores al pasar el mouse por arriba*/
#menu li a:hover{
  background-color: #fff;
  margin-top: -2;
  padding-bottom: 12px;]
} 